{
  "openapi": "3.0.0",
  "info": {
    "title": "Press Kits Service",
    "description": "API for generating, versioning, and publicly sharing company press kits",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://press-kits.mcpfactory.org"
    }
  ],
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "ok"
          },
          "service": {
            "type": "string",
            "example": "press-kits-service"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "MediaKitStatus": {
        "type": "string",
        "enum": [
          "drafted",
          "generating",
          "validated",
          "denied",
          "failed",
          "archived"
        ],
        "description": "drafted = generation complete, pending review. generating = workflow in progress. validated = approved and live. denied = rejected by user. failed = generation error or timeout. archived = superseded by a newer version."
      },
      "MediaKitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "orgId": {
            "type": "string",
            "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
          },
          "brandId": {
            "type": "string",
            "nullable": true,
            "example": "a6b5fdad-b31d-4fa2-b34b-1cec4cb21ce5"
          },
          "campaignId": {
            "type": "string",
            "nullable": true,
            "example": "c7d8e9f0-a1b2-3456-cdef-789012345678"
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "example": "press-kit-v2"
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true,
            "example": "generate-press-kit"
          },
          "featureDynastySlug": {
            "type": "string",
            "nullable": true,
            "example": "press-kit-page-generation"
          },
          "workflowDynastySlug": {
            "type": "string",
            "nullable": true,
            "example": "generate-press-kit"
          },
          "shareToken": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Public share token. Use with GET /public/{token} to access the kit without authentication.",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Acme Corp Press Kit — Q1 2026"
          },
          "iconUrl": {
            "type": "string",
            "nullable": true,
            "example": "https://cdn.example.com/brands/acme/icon.png"
          },
          "parentMediaKitId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "ID of the kit this version was forked from. Forms a linked list of versions. Null for the first kit in a scope.",
            "example": null
          },
          "status": {
            "$ref": "#/components/schemas/MediaKitStatus"
          },
          "denialReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for denial (when status is 'denied') or failure message (when status is 'failed').",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "example": "2026-03-29T10:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-03-29T10:05:00.000Z"
          },
          "publicUrl": {
            "type": "string",
            "nullable": true,
            "description": "Full public URL for the press kit page. Ready to open in a browser.",
            "example": "https://press-kits.distribute.you/public/f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "contentExcerpt": {
            "type": "string",
            "nullable": true,
            "description": "First ~200 characters of the MDX content, stripped of markup. Useful for card/grid previews.",
            "example": "Acme Corp is a leading provider of innovative solutions in the SaaS space, serving over 10,000 customers worldwide..."
          }
        },
        "required": [
          "id",
          "orgId",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "featureDynastySlug",
          "workflowDynastySlug",
          "shareToken",
          "title",
          "iconUrl",
          "parentMediaKitId",
          "status",
          "denialReason",
          "createdAt",
          "updatedAt",
          "publicUrl",
          "contentExcerpt"
        ]
      },
      "MediaKitListResponse": {
        "type": "object",
        "properties": {
          "mediaKits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaKitSummary"
            }
          }
        },
        "required": [
          "mediaKits"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Media kit not found"
          }
        },
        "required": [
          "error"
        ]
      },
      "MediaKitResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "orgId": {
            "type": "string",
            "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
          },
          "brandId": {
            "type": "string",
            "nullable": true,
            "example": "a6b5fdad-b31d-4fa2-b34b-1cec4cb21ce5"
          },
          "campaignId": {
            "type": "string",
            "nullable": true,
            "example": "c7d8e9f0-a1b2-3456-cdef-789012345678"
          },
          "featureSlug": {
            "type": "string",
            "nullable": true,
            "example": "press-kit-v2"
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true,
            "example": "generate-press-kit"
          },
          "featureDynastySlug": {
            "type": "string",
            "nullable": true,
            "example": "press-kit-page-generation"
          },
          "workflowDynastySlug": {
            "type": "string",
            "nullable": true,
            "example": "generate-press-kit"
          },
          "shareToken": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Public share token. Use with GET /public/{token} to access the kit without authentication.",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Acme Corp Press Kit — Q1 2026"
          },
          "iconUrl": {
            "type": "string",
            "nullable": true,
            "example": "https://cdn.example.com/brands/acme/icon.png"
          },
          "mdxPageContent": {
            "type": "string",
            "nullable": true,
            "description": "Full MDX content of the press kit page.",
            "example": "# Acme Corp\n\nAcme Corp is a leading provider of innovative SaaS solutions..."
          },
          "parentMediaKitId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "ID of the kit this version was forked from. Forms a linked list of versions. Null for the first kit in a scope.",
            "example": null
          },
          "status": {
            "$ref": "#/components/schemas/MediaKitStatus"
          },
          "denialReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for denial (when status is 'denied') or failure message (when status is 'failed').",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "example": "2026-03-29T10:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-03-29T10:05:00.000Z"
          },
          "publicUrl": {
            "type": "string",
            "nullable": true,
            "description": "Full public URL for the press kit page. Ready to open in a browser.",
            "example": "https://press-kits.distribute.you/public/f47ac10b-58cc-4372-a567-0e02b2c3d479"
          }
        },
        "required": [
          "id",
          "orgId",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "featureDynastySlug",
          "workflowDynastySlug",
          "shareToken",
          "title",
          "iconUrl",
          "mdxPageContent",
          "parentMediaKitId",
          "status",
          "denialReason",
          "createdAt",
          "updatedAt",
          "publicUrl"
        ]
      },
      "UpdateMdxRequest": {
        "type": "object",
        "properties": {
          "mdxContent": {
            "type": "string",
            "example": "# Updated Press Kit\n\nNew content goes here..."
          }
        },
        "required": [
          "mdxContent"
        ]
      },
      "UpdateStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaKitStatus"
              },
              {
                "example": "denied"
              }
            ]
          },
          "denialReason": {
            "type": "string",
            "description": "Required when setting status to 'denied'. Explains why the kit was rejected.",
            "example": "Tone is too informal for our brand guidelines"
          }
        },
        "required": [
          "status"
        ]
      },
      "CreateMediaKitRequest": {
        "type": "object",
        "properties": {
          "mediaKitId": {
            "type": "string",
            "format": "uuid",
            "description": "Target a specific media kit. If omitted, the latest active kit in the scope (org + brand + campaign) is used. If no kit exists, a new one is created from scratch.",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "instruction": {
            "type": "string",
            "description": "User instruction for the generation workflow.",
            "example": "Create a professional press kit highlighting our Q1 2026 product launches and sustainability initiatives"
          }
        },
        "required": [
          "instruction"
        ]
      },
      "ViewStatsFlatResponse": {
        "type": "object",
        "properties": {
          "totalViews": {
            "type": "number",
            "example": 1250
          },
          "uniqueVisitors": {
            "type": "number",
            "example": 843
          },
          "lastViewedAt": {
            "type": "string",
            "nullable": true,
            "example": "2026-03-29T14:32:00.000Z"
          },
          "firstViewedAt": {
            "type": "string",
            "nullable": true,
            "example": "2026-03-01T09:15:00.000Z"
          }
        },
        "required": [
          "totalViews",
          "uniqueVisitors",
          "lastViewedAt",
          "firstViewedAt"
        ]
      },
      "ViewStatsGroupedResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "nullable": true,
                  "description": "Group key (country code, kit ID, or date depending on groupBy)",
                  "example": "US"
                },
                "totalViews": {
                  "type": "number",
                  "example": 520
                },
                "uniqueVisitors": {
                  "type": "number",
                  "example": 340
                },
                "lastViewedAt": {
                  "type": "string",
                  "nullable": true,
                  "example": "2026-03-29T14:32:00.000Z"
                }
              },
              "required": [
                "key",
                "totalViews",
                "uniqueVisitors",
                "lastViewedAt"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "ViewStatsGroupBy": {
        "type": "string",
        "enum": [
          "country",
          "mediaKitId",
          "day",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "featureDynastySlug",
          "workflowDynastySlug"
        ],
        "description": "Group results by dimension. Omit for flat totals."
      },
      "CostStatsGroup": {
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "description": "Group key dimensions"
          },
          "totalCostInUsdCents": {
            "type": "number",
            "example": 2050
          },
          "actualCostInUsdCents": {
            "type": "number",
            "example": 2050
          },
          "provisionedCostInUsdCents": {
            "type": "number",
            "example": 0
          },
          "runCount": {
            "type": "number",
            "example": 3
          }
        },
        "required": [
          "dimensions",
          "totalCostInUsdCents",
          "actualCostInUsdCents",
          "provisionedCostInUsdCents",
          "runCount"
        ]
      },
      "CostStatsResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CostStatsGroup"
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "CostStatsGroupBy": {
        "type": "string",
        "enum": [
          "mediaKitId",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "featureDynastySlug",
          "workflowDynastySlug"
        ],
        "description": "Group results by dimension. Omit for flat totals."
      },
      "GenerationDataResponse": {
        "type": "object",
        "properties": {
          "currentKit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaKitResponse"
              },
              {
                "nullable": true
              }
            ]
          },
          "instructions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "instruction": {
                  "type": "string"
                },
                "instructionType": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "instruction",
                "instructionType",
                "createdAt"
              ]
            }
          },
          "feedbacks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "denialReason": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "denialReason"
              ]
            }
          }
        },
        "required": [
          "currentKit",
          "instructions",
          "feedbacks"
        ]
      },
      "UpsertGenerationResultRequest": {
        "type": "object",
        "properties": {
          "mediaKitId": {
            "type": "string",
            "format": "uuid",
            "description": "Target kit ID. If omitted, finds the generating kit by orgId.",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "orgId": {
            "type": "string",
            "description": "Org ID fallback when mediaKitId is not provided.",
            "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
          },
          "mdxContent": {
            "type": "string",
            "example": "# Generated Press Kit\n\nContent produced by the generation workflow..."
          },
          "title": {
            "type": "string",
            "example": "Acme Corp Press Kit — Q1 2026"
          },
          "iconUrl": {
            "type": "string",
            "example": "https://cdn.example.com/brands/acme/icon.png"
          }
        },
        "required": [
          "mdxContent"
        ]
      },
      "EmailDataResponse": {
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaKitStatus"
              },
              {
                "nullable": true,
                "example": "validated"
              }
            ]
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Acme Corp Press Kit — Q1 2026"
          },
          "pressKitUrl": {
            "type": "string",
            "nullable": true,
            "description": "Full public URL for the press kit page.",
            "example": "https://press-kits.distribute.you/public/f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "content": {
            "type": "string",
            "nullable": true,
            "example": "# Acme Corp\n\nLeading SaaS provider..."
          }
        },
        "required": [
          "status",
          "title",
          "pressKitUrl",
          "content"
        ]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits": {
      "get": {
        "summary": "List media kits",
        "description": "Returns active media kits (validated, drafted, generating). At least one filter is required. Results are sorted by status priority (validated first) then by most recently updated.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by org UUID. At least one of org_id, campaign_id, or brand_id is required.",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": false,
            "name": "org_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Case-insensitive title search (partial match)",
              "example": "Q1 2026"
            },
            "required": false,
            "name": "title",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by campaign UUID",
              "example": "c7d8e9f0-a1b2-3456-cdef-789012345678"
            },
            "required": false,
            "name": "campaign_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand UUID",
              "example": "a6b5fdad-b31d-4fa2-b34b-1cec4cb21ce5"
            },
            "required": false,
            "name": "brand_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kits list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or edit a media kit (versioning via fork)",
        "description": "Triggers a generation workflow for a media kit. The behavior depends on the current state:\n\n**No existing kit in scope** → Creates a new kit with `status: generating` and `parentMediaKitId: null`.\n\n**Existing kit is `validated` or `drafted`** → **Forks**: creates a NEW kit (new UUID) with `status: generating`, copying the content (title, icon, MDX) from the original. The new kit's `parentMediaKitId` points to the original, preserving full version history. The original kit is NOT modified or archived at this stage.\n\n**Existing kit is `generating`** → Updates the existing generating kit in place (adds the instruction, refreshes context headers). No new kit is created.\n\nScope is determined by `x-org-id` + `x-brand-id` + `x-campaign-id` headers. Pass `mediaKitId` in the body to target a specific kit instead of auto-resolving by scope.\n\nTo validate the generated result and archive the previous version, call `POST /media-kits/{id}/validate`. To discard the generating kit and restore the parent, call `POST /media-kits/{id}/cancel`.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand UUID — scopes kit to a specific brand"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign UUID — scopes kit to a specific campaign"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Feature slug (e.g. 'press-kit-v2')"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug override for generation"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Stable feature dynasty slug (version-independent)"
            },
            "required": false,
            "name": "x-feature-dynasty-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Stable workflow dynasty slug (version-independent)"
            },
            "required": false,
            "name": "x-workflow-dynasty-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaKitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media kit created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Media kit not found (when mediaKitId specified)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}": {
      "get": {
        "summary": "Get media kit by ID",
        "description": "Returns full media kit including MDX content. Kits stuck in 'generating' for over 30 minutes are automatically transitioned to 'failed'.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/mdx": {
      "patch": {
        "summary": "Update MDX content",
        "description": "Directly update the MDX page content of a media kit. Typically used for manual edits after generation.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMdxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/status": {
      "patch": {
        "summary": "Update media kit status",
        "description": "Manually update a kit's status. Use 'denied' with a denialReason to reject a kit for rework.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/validate": {
      "post": {
        "summary": "Validate media kit",
        "description": "Approves the kit and sets it to 'validated'. Automatically archives any previously validated kit in the same scope (org + campaign). Sends a press_kit_ready email notification.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/cancel": {
      "post": {
        "summary": "Cancel draft media kit",
        "description": "Deletes the generating/drafted kit. If the kit was forked from a parent, the parent is restored to 'drafted' status.",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/public/{token}": {
      "get": {
        "summary": "Get public media kit page by share token",
        "description": "Returns a fully rendered HTML page for the press kit. Intended to be opened in a browser.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Rendered HTML press kit page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/stats/views": {
      "get": {
        "summary": "Get view stats for media kits",
        "description": "Returns aggregated view stats for the org's media kits. Supports filters (brandId, campaignId, mediaKitId, date range) and optional groupBy (country, mediaKitId, day). Without groupBy returns flat totals; with groupBy returns grouped results.",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by brand UUID"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by campaign UUID"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by specific media kit UUID"
            },
            "required": false,
            "name": "mediaKitId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature slug (e.g. 'press-kit-v2')"
            },
            "required": false,
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow slug"
            },
            "required": false,
            "name": "workflowSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature dynasty slug (stable across versions)"
            },
            "required": false,
            "name": "featureDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow dynasty slug (stable across versions)"
            },
            "required": false,
            "name": "workflowDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of date range (ISO 8601)",
              "example": "2026-03-01T00:00:00Z"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of date range (ISO 8601)",
              "example": "2026-03-31T23:59:59Z"
            },
            "required": false,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ViewStatsGroupBy"
            },
            "required": false,
            "name": "groupBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "View stats (flat or grouped depending on groupBy param)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ViewStatsFlatResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ViewStatsGroupedResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/stats/costs": {
      "get": {
        "summary": "Get cost stats for media kit generations",
        "description": "Returns aggregated generation/edit costs by querying runs-service for all runs associated with media kits. Supports filters (mediaKitId, brandId, campaignId) and optional groupBy (mediaKitId). Without groupBy returns flat totals; with groupBy returns grouped results.",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by specific media kit UUID"
            },
            "required": false,
            "name": "mediaKitId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by brand UUID"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Filter by campaign UUID"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature slug (e.g. 'press-kit-v2')"
            },
            "required": false,
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow slug"
            },
            "required": false,
            "name": "workflowSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature dynasty slug (stable across versions)"
            },
            "required": false,
            "name": "featureDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow dynasty slug (stable across versions)"
            },
            "required": false,
            "name": "workflowDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/CostStatsGroupBy"
            },
            "required": false,
            "name": "groupBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Cost stats (flat or grouped depending on groupBy param)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/media-kits": {
      "get": {
        "summary": "List all media kits (admin)",
        "description": "Returns all media kits across all orgs. Supports text search on title.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Case-insensitive title search",
              "example": "Acme"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Admin kit list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/media-kits/{id}": {
      "delete": {
        "summary": "Delete media kit (admin)",
        "description": "Permanently deletes a media kit and its associated instructions (cascade).",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/current": {
      "get": {
        "summary": "Get latest media kit for scope",
        "description": "Returns the most recently updated media kit for the given org, optionally scoped by brand and campaign. Used by other services to check current press kit state.",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand UUID"
            },
            "required": false,
            "name": "brand_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by campaign UUID"
            },
            "required": false,
            "name": "campaign_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kit or null if none exists",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MediaKitResponse"
                    },
                    {
                      "nullable": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/generation-data": {
      "get": {
        "summary": "Get data for generation workflow",
        "description": "Returns the currently generating kit with its instructions and past denial feedbacks. Used by the generation workflow to build the LLM prompt.",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Target a specific kit. If omitted, finds the generating kit for the org."
            },
            "required": false,
            "name": "media_kit_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/generation-result": {
      "post": {
        "summary": "Upsert generation result (workflow callback)",
        "description": "Called by the generation workflow on success. Updates the generating kit with the produced MDX content and transitions it to 'drafted' status.",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertGenerationResultRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kit updated to drafted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "No generating kit found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/email-data/{orgId}": {
      "get": {
        "summary": "Get press kit data for email templates",
        "description": "Returns the validated press kit data for a given org. Used by transactional-email-service to populate email templates.",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID from client-service",
              "example": "org_3ANNRtJtvq2vahygqOSJ7IjRfp1"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID from client-service",
              "example": "usr_7BXkm2pTq1wLnHyjRfK4d"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Run ID for tracing (from runs-service)",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Email data (all fields null if no validated kit exists)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDataResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}