{
  "openapi": "3.0.0",
  "info": {
    "title": "Press Kits Service",
    "description": "API for generating, versioning, and publicly sharing company press kits",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://press-kits.mcpfactory.org"
    }
  ],
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "MediaKitStatus": {
        "type": "string",
        "enum": [
          "drafted",
          "generating",
          "validated",
          "denied",
          "archived"
        ]
      },
      "MediaKitSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string"
          },
          "brandId": {
            "type": "string",
            "nullable": true
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true
          },
          "shareToken": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "iconUrl": {
            "type": "string",
            "nullable": true
          },
          "parentMediaKitId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/MediaKitStatus"
          },
          "denialReason": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "contentExcerpt": {
            "type": "string",
            "nullable": true,
            "description": "First ~200 characters of the MDX content, stripped of markup. Useful for card/grid previews.",
            "example": "Acme Corp is a leading provider of innovative solutions in the SaaS space, serving over 10,000 customers worldwide..."
          }
        },
        "required": [
          "id",
          "orgId",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "shareToken",
          "title",
          "iconUrl",
          "parentMediaKitId",
          "status",
          "denialReason",
          "createdAt",
          "updatedAt",
          "contentExcerpt"
        ]
      },
      "MediaKitListResponse": {
        "type": "object",
        "properties": {
          "mediaKits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaKitSummary"
            }
          }
        },
        "required": [
          "mediaKits"
        ]
      },
      "MediaKitResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string"
          },
          "brandId": {
            "type": "string",
            "nullable": true
          },
          "campaignId": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true
          },
          "shareToken": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "iconUrl": {
            "type": "string",
            "nullable": true
          },
          "mdxPageContent": {
            "type": "string",
            "nullable": true
          },
          "parentMediaKitId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/MediaKitStatus"
          },
          "denialReason": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orgId",
          "brandId",
          "campaignId",
          "featureSlug",
          "workflowSlug",
          "shareToken",
          "title",
          "iconUrl",
          "mdxPageContent",
          "parentMediaKitId",
          "status",
          "denialReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "UpdateMdxRequest": {
        "type": "object",
        "properties": {
          "mdxContent": {
            "type": "string"
          }
        },
        "required": [
          "mdxContent"
        ]
      },
      "UpdateStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/MediaKitStatus"
          },
          "denialReason": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "CreateMediaKitRequest": {
        "type": "object",
        "properties": {
          "mediaKitId": {
            "type": "string",
            "format": "uuid"
          },
          "instruction": {
            "type": "string"
          }
        },
        "required": [
          "instruction"
        ]
      },
      "PublicMediaKitResponse": {
        "type": "object",
        "properties": {
          "mediaKit": {
            "$ref": "#/components/schemas/MediaKitResponse"
          }
        },
        "required": [
          "mediaKit"
        ]
      },
      "GenerationDataResponse": {
        "type": "object",
        "properties": {
          "currentKit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaKitResponse"
              },
              {
                "nullable": true
              }
            ]
          },
          "instructions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "instruction": {
                  "type": "string"
                },
                "instructionType": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "instruction",
                "instructionType",
                "createdAt"
              ]
            }
          },
          "feedbacks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "denialReason": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "denialReason"
              ]
            }
          }
        },
        "required": [
          "currentKit",
          "instructions",
          "feedbacks"
        ]
      },
      "UpsertGenerationResultRequest": {
        "type": "object",
        "properties": {
          "mediaKitId": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string"
          },
          "mdxContent": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "iconUrl": {
            "type": "string"
          }
        },
        "required": [
          "mdxContent"
        ]
      },
      "EmailDataResponse": {
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaKitStatus"
              },
              {
                "nullable": true
              }
            ]
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "pressKitUrl": {
            "type": "string",
            "nullable": true
          },
          "content": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "status",
          "title",
          "pressKitUrl",
          "content"
        ]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits": {
      "get": {
        "summary": "List media kits",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "org_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "title",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaign_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brand_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kits list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or edit a media kit",
        "description": "Idempotent create-or-edit. Scoped by x-org-id + x-brand-id + x-campaign-id headers. Finds the latest active kit in that scope, or creates a new one. Optionally pass mediaKitId in the body to target a specific kit.",
        "tags": [
          "Media Kits"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaKitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media kit created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Media kit not found (when mediaKitId specified)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}": {
      "get": {
        "summary": "Get media kit by ID",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/mdx": {
      "patch": {
        "summary": "Update MDX content",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMdxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/status": {
      "patch": {
        "summary": "Update media kit status",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/validate": {
      "post": {
        "summary": "Validate media kit",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/media-kits/{id}/cancel": {
      "post": {
        "summary": "Cancel draft media kit",
        "tags": [
          "Media Kits"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/public/{token}": {
      "get": {
        "summary": "Get public media kit by share token",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Public media kit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMediaKitResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/media-kits": {
      "get": {
        "summary": "List all media kits",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Admin kit list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/media-kits/{id}": {
      "delete": {
        "summary": "Delete media kit",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/current": {
      "get": {
        "summary": "Get latest media kit for scope (x-org-id + optional brand_id/campaign_id query params)",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brand_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaign_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Media kit",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MediaKitResponse"
                    },
                    {
                      "nullable": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/generation-data": {
      "get": {
        "summary": "Get data for generation workflow",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "name": "media_kit_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/media-kits/generation-result": {
      "post": {
        "summary": "Upsert generation result (workflow callback)",
        "tags": [
          "Internal"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertGenerationResultRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaKitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/email-data/{orgId}": {
      "get": {
        "summary": "Get press kit data for email templates",
        "tags": [
          "Internal"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Email data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDataResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}